body {
  background-image: url("/media/sec8_bg_img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  width: 100%;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--black);
  opacity: 0.5;
  z-index: -1;
}

main {
  padding: 100px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}

main h2 {
  font-family:var(--M);
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 15px;
}

main p {
  font-size: 18px;
  font-family: var(--PN);
  margin-bottom: 60px;
}

main form {
  background-color: var(--white);
  color: var(--black);
  max-width: 778px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-inline: 50px;
  justify-content: space-between;
  padding-block: 100px;
  border-radius: 10px 10px 0 0;
}

main form .input_field {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.input_field label {
  font-size: 16px;
  margin-bottom: 8px;
  font-family: var(--PN);
}

.input_field input {
  padding: 8px 12px;
  border: none;
  border-bottom: 0.5px solid var(--black);
  margin-bottom: 30px;
  outline: none;
  font-size: 16px;
}


.input_field input#phone_no{
    padding-left: 65px;
    max-width: 200px;
}

.input_field .span {
  display: flex;
  position: relative;
}

.span span {
  display: flex;
  position: absolute;
  left: 15px;
  cursor: pointer;
}

.input_field:has(textarea) {
  width: 100%;
  flex-basis: 100%;
}

.input_field textarea {
  width: 100%;
  height: 80px;
  resize: none;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 8px 0;
  border-bottom: 0.5px solid var(--black);
}

.input_field input:focus,
.input_field textarea:focus {
  border-bottom: 0.5px solid var(--blue);
}


main form button{
    background-color: var(--dgray);
    padding: 11px 80px;
    margin-top: 30px;
}

main form button:hover{
    background-color: var(--blue);
    color: var(--white);
}

@media (max-width:768px) {
    main{
    padding-inline: 50px;
  }
}

@media (max-width:700px) {
  .input_field{
    flex-basis: 100%;
  }
}

@media (max-width:480px) {
  main{
    padding-inline: 20px;
  }
}