main {
  width: 100%;
  padding: 100px;
  padding-top: 0;
}
main .content {
  width: 100%;
  background-color: #242834;
}

.content .area {
  padding-inline: 400px;
}

.content p {
  font-size: 18px;
  font-family: "Proxima Nova";
}

.area .sub_area1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub_area1 p {
  font-size: 12px;
}

.sub_area2 h2 ,.sub_area2 span{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 40px;
}
