@import url("/utilities/vars_fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--white);
  background-color: var(--black);
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease-in;
}

button {
  font-size: 16px;
  padding: 16px 30px;
  background: none;
  background-color: var(--blue);
  border-radius: 100px;
  border: none;
  color: #fff;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

button:hover {
  background-color: var(--white);
  color: var(--black);
}

.box {
  position: absolute;
  top: 0;
  left: 100px;
  background-color: var(--white);
  color: var(--black);
  width: 340px;
  padding-block: 16px;
  font-size: 18px;
  text-align: left;
  padding-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border-radius: 0 0 10px 10px;
}

.my_container {
  position: relative;
  width: 100%;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 40px;
  height: 100px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10000;
}

header .logo_area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo_area svg {
  background-color: var(--blue);
  box-sizing: content-box;
  padding: 10px;
  border-radius: 10px;
}

header nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  font-size: 16px;
  padding: 16px 30px;
  border-radius: 100px;
  background-color: var(--black);
}

nav ul li a:hover {
  color: var(--blue);
}

.company_tagline h1 {
  font-family: "Jockey One", sans-serif;
  font-weight: lighter;
}

.company_tagline p,
.sec1 h1,
.lower_sec .col p,
.sec2 .content h1,
.sec3 h1,
.sec6 h2,
figcaption,
.sec8 h1,
.sec8 p,
input::placeholder,
.questions .question,
.ser_sec1 h2
{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

nav a,
button,
.sec1 p,
.sec3 p,
.sec5 p,
.answer ,footer{
  font-family: "Proxima Nova";
}

.testifier h6 ,footer h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

footer {
  min-height: 576px;
  width: 100%;
  background-color: var(--dgray);
  display: flex;
  flex-direction: column;
  color: var(--lgray);
  font-size: 16px;
  line-height: 1.6;
  justify-content: space-between;
  padding:90px 60px ;
}

.outer_container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

footer h6 {
  font-size: 14px;
  font-weight: bold;
  color: var(--white);
}

footer ul {
  list-style: none;
}

footer ul li a{
  color: var(--lgray);
}

footer .contact,footer .subscribe,footer .menu,footer .socials{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:30px;
}


.contact .container{
  display: flex;
  flex-direction: column;
  gap:30px;
  align-items: flex-start;
}

footer .subscribe p{
 width: 360px;
}

.subscribe form{
  width: 385px;
  display: flex;
  flex-direction: column;
  gap:15px;
}

.subscribe form input{
  background: none;
  border: 0.1px solid #444343;  
  border-radius: 100px;
  padding: 8px 2px 8px 12px;
  font-size: 16px;
  outline: none;
}

.subscribe form .field{
  display: flex;
  align-items: center;
  gap:15px;
}

.subscribe form .field button{
  padding: 10px 16px;
  background-color: var(--white);
  color: var(--black);
}

.subscribe form .field button:hover{
  background-color: var(--black);
  color: var(--white);
}

.copyright a{
  color: var(--lgray);
  text-decoration: underline;
}

.active_link{
  color: var(--blue);
}